
@media (width < 700px) {
    .editor {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}

@media (width < 900px) {
    .gallery-search {
    grid-template-columns: 5fr 1fr;

    .keyword-search {
        grid-column: 1 / -1;
    }
    }

    .gallery .gallery-container {
        columns: 2 200px;
    }
}