@media (width < 900px) {
    :root {
        font-size: 13px;
    }

    .background img {
        width: 100%;
    }

    .main-layout {
        grid-template-columns: minmax(10px, 1fr) minmax(auto, 880px) minmax(10px, 1fr);
    }
    
    .editor {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(auto, 1fr);
        justify-self: center;
        justify-items: center;
        justify-content: center;

        min-height: 88vh;

        >* {
            grid-column: 1;
            /* width: 100%; */
            min-width: 0;
        }

        .edit-pannel {
            /* width: 100%; */
            padding: 1rem;
            justify-content: center;

            .line-style {
                grid-template-columns: repeat(5, 3.4rem);
                grid-auto-rows: 3.2rem;
                padding: .5rem;
                gap: .3rem;

                button {
                    padding-inline: 1px;
                }
            }
        }
    }

    .gallery-wrapper {
        height: 84vh;
    }

    .gallery-search {
        grid-template-columns: 5fr 1fr;

        .keyword-search {
            grid-column: 1 / -1;
        }
    }

    .gallery .gallery-container {
        columns: 2 200px;
    }
}