.canvas-container {
    display: grid;

    align-self: start;

    border: 4px solid var(--clr-primary-opaque);
    border-radius: 20px;
    overflow: clip;
}

#stroke-color,
#fill-color {
    display: none;
}

.edit-pannel {
    display: grid;
    align-items: center;
    row-gap: .5rem;

    padding-inline: 2rem;
    background-color: var(--clr-primary-opaque);
    border-radius: 20px;

    >* {
        display: grid;
    }

    button,
    .btn-3d,
    .btn-3d *,
    a,
    label,
    select {
        cursor: pointer;
        transition: box-shadow .3s;
    }

    .btn-3d input, .meme-text {
        cursor: text;
    }

    button:hover:not(.btn-3d button),
    a:hover:not(.btn-3d a),
    select:hover,
    label:hover {
        /* background: var(--clr-gradient-mark); */
        box-shadow: 0px 0px 14px 4px rgb(0 0 0 / 40%);
    }

    .btn-3d:hover {
        box-shadow: 0px 0px 14px 4px rgba(247, 247, 247, 0.909);
    }

    .meme-text {
        border-radius: 99px;

    }

    input#lineText {
        font-family: poppins-medium;
        border-radius: 99px;
        background-color: var(--clr-primary);

        font-family: 'poppins-light';
        text-transform: uppercase;
        font-size: 1.5625rem;
        text-align: center;
        color: var(--clr-primary--4);

    }
}

.line-manager {
    grid-template-columns: repeat(3, 3.75rem);
    gap: 1rem;
    place-content: center;

    .btn-3d {
        border-radius: 10px;
        aspect-ratio: 1;

        .btn-wrapper {
            position: relative;
            display: grid;
            width: 100%;
            height: 97%;
            border-radius: 10px;

        }

        .svg-inline--fa,
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 100%;
            font-size: 2rem;
        }


        .svg-inline--fa:first-of-type,
        .icon:first-of-type {
            color: rgba(0, 0, 0, 0.4);
            /* transform: translateY(3px) scale(1.1); */
            transform: translateY(4px);
        }

        .svg-inline--fa:last-of-type,
        .icon:last-of-type {
            color: white;
        }

    }

    .trash {
        background: linear-gradient(360deg, #8c0606, #ec635b);

        .btn-wrapper {
            background-color: #e23a36;
        }
    }

    .switch-line {
        background: linear-gradient(360deg, #068b97, #63cee6);

        .btn-wrapper {
            background-color: #3db0cd;
        }
    }

    .add-line {
        background: linear-gradient(360deg, #015d33, #5dce72);

        .btn-wrapper {
            background-color: #3ed756;
        }
    }
}

.line-style {
    grid-template-columns: repeat(5, 3.75rem);
    justify-content: space-between;
    grid-auto-rows: 3.5rem;
    gap: 1rem .5rem;

    padding: 1rem;
    background-color: #19a59f;
    border-radius: 15px;

    >* {
        display: grid;
        place-items: center;
        background-color: white;
        border-radius: 10px;
        border: 0;
        box-shadow: 0px 6px 0px 0px rgb(0 0 0 / 40%);

        font-family: poppins-medium;
        font-size: 1.5625rem;
        text-transform: uppercase;

    }

    .font-size {
        display: block;
        font-size: 2rem;
    }

    .font-family {
        grid-column: 1 / -1;
    }

    .font-style-btn {
        font-family: 'Times New Roman', Times, serif;

    }

    .underline {
        grid-column: 2;
        text-decoration: underline;
    }

    .italic {
        grid-column: 3;
        font-style: italic;
    }

    .font-style-btn {
        font-family: 'Times New Roman', Times, serif;
    }

    .fill-color {
        grid-column: 4;
    }



}

.share {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    * {
        border-radius: 10px;
        font-family: inherit;
        color: white;
        font-size: 1.3rem;
    }

    .share-wrapper {
        display: grid;
        grid-auto-flow: column;
        place-content: center;
        place-items: center;
    }

    .share-btn {
        background: linear-gradient(360deg, #165c9c, #54b2e8);

        >div {
            background-color: #1e7cd3;
        }
    }

    .download-btn {
        background: linear-gradient(360deg, #632687, #bf84da);

        >div {
            place-items: center;
        }
    }
}

.file-picker-wrapper {
    display: grid;
    place-items: center;

    grid-column: 1 / -1;

    border: 1px solid var(--clr-primary-opaque);
}