.main-header {
        /* position: sticky; */
    /* top: .5rem; */
    z-index: 10;

    margin: .5rem;  
    /* background: linear-gradient(45deg, #0f9bb4, #30bb72); */
    background: var(--clr-gradient-mark);
    border-radius: 999px;
    
    color:white;
    font-style: normal;
    font-weight: 300;
    
    >*{ grid-column: 2;}
}

.header-container {
        /* position: sticky; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    
    > h1 {
        font-size: 1.375rem;
        text-transform: uppercase;
    }
}

