.gallery.hidden, .editor.hidden, .hidden {
    height: 0px;
    transform: scale(0);
}

*.display-none {
    display: none;
}

.full {
    grid-column: 1 / -1;
}

.btn-3d {
    display: grid;
    align-items: center;
    padding-block: 5px;
    background: linear-gradient(
360deg, var(--clr-primary--1), white);
border-radius: 10px;

}

.super {
  vertical-align: super;
  font-size: 50%; /* מקטין את הגודל כדי שיראה פרופורציונלי */
}
