.main-layout {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(auto, 1000px) minmax(50px, 1fr);

    >* {
        grid-column: 2;
        overflow: clip;
    }

    .full {
        grid-column: 1 / -1;
    }
}

.gallery,
.editor {
    height: 100%;
    transform: scale(1);
}

.editor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 10px;
}
