.background {
    position: fixed;
    inset: 0;
    width: 100%;
    background-color: var(--clr-primary--4);

    z-index: 0;

    >img {
        width: 60%;
    }
}

.main-layout {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(auto, 1000px) minmax(50px, 1fr);
    align-content: start;
    row-gap: 1rem;

    >* {
        grid-column: 2;
        /* overflow: clip; */
    }

    .full {
        grid-column: 1 / -1;
    }
}

.gallery,
.editor {
    height: 100%;
    transform: scale(1);
}

.editor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 50px;

    .edit-pannel {

    }
}

